<div class="container mt-5">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <img src="id.jpg" alt="id" width="300px" height="300px" class="rounded-pill">
        </div>
    </div>
</div>